.App {
  width: 180vh;
  height: 90vh;
  margin: auto;
  margin-top: 20px;
  border: 2px solid rgb(0, 0, 0);
  padding: 10px;
}
.header {
  width: 79%;
  height: 5vh;
  border: 1px solid black;
}
.instructions {
  width: 20%;
  float: right;
  height: 90vh;
  border: 1px solid black;
}
.createDiv {
  height: 25vh;
  width: 44vh;
  margin-left: 13vh;
  margin-top: 6vh;
  border: 2px solid black;
  float: left;
}
.main {
  height: 79.5vh;
  width: 79%;
  border: 1px solid black;
  overflow: auto;
}
.footer {
  width: 79%;
  height: 5vh;
  border: 1px solid black;
}
.instr {
  font-size: large;
  padding-top: 65%;
  margin: 10%;
  font-weight: bold;
}
.btns {
  float: left;
  margin: 25px;
}
.remove {
  float: right;
}
.btn{
  margin: 15px;
}